#####
# Managed by omnibusansibleplaybooks/landing_pages/roles/healthcheck_apache_landingpage_deployed
#####
{% if healthcheck_landingpage_apache.is_default_virtualhost == False %}
<VirtualHost *:{{healthcheck_landingpage_apache.port}}>
{% else %}
<VirtualHost *:80>
{% endif %}

    ServerAdmin {{healthcheck_landingpage_apache.server_admin}}
    {% if healthcheck_landingpage_apache.is_default_virtualhost == False %}
    ServerName {{healthcheck_landingpage_apache.server_name}}
    ServerAlias {{healthcheck_landingpage_apache.server_alias}}
    {% endif %}

    DocumentRoot /var/www/healthcheck_landingpage
      
    CustomLog ${APACHE_LOG_DIR}/{{healthcheck_landingpage_apache.server_name}}-access.log proxied
    ErrorLog ${APACHE_LOG_DIR}/{{healthcheck_landingpage_apache.server_name}}-error.log
      
    <Directory /var/www/healthcheck_landingpage>
        # Options Indexes FollowSymLinks MultiViews
        AllowOverride all
        Order allow,deny
        allow from all
        Require all granted
        Options -Indexes
                 
        <IfModule mod_mime.c>
        AddType application/x-javascript .js
        AddType text/css .css
        </IfModule>
           
        <IfModule mod_deflate.c>
            AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/plain text/xml application/javascript
            <IfModule mod_setenvif.c>
                BrowserMatch ^Mozilla/4 gzip-only-text/html
                BrowserMatch ^Mozilla/4.0[678] no-gzip
                BrowserMatch bMSIE !no-gzip !gzip-only-text/html
            </IfModule>
        </IfModule>
        Header append Vary User-Agent env=!dont-vary
    </Directory>
          
    <IfModule proxy_fcgi_module> 
        # Enable http authorization headers 
        <IfModule setenvif_module>
            SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1 
        </IfModule> 
        <FilesMatch ".+\.ph(ar|p|tml)$"> 
            SetHandler "proxy:unix:/run/php/php7.3-fpm.sock|fcgi://localhost" 
        </FilesMatch> 
        <FilesMatch ".+\.phps$"> 
            # Deny access to raw php sources by default
            # To re-enable it's recommended to enable access to the files 
            # only in specific virtual host or directory 
            Require all denied 
        </FilesMatch> 
             
        # Deny access to files without filename (e.g. '.php') 
        <FilesMatch "^\.ph(ar|p|ps|tml)$"> 
            Require all denied 
        </FilesMatch> 
    </IfModule>
  
    Header set Access-Control-Allow-Origin "*"
         
    <IfModule security2_module>
        SecRuleEngine On        
        SecRule ARGS:testparam "@contains test" "id:1234,deny,status:403,msg:'Our test rule has triggered'"
    </IfModule>
 
    #ModPagespeedFetchHttps disable
    #ModPagespeedDisallow "*/administrator/*"
  
</VirtualHost>