# Managed with omnibusansibleplaybooks/ubuntuserver1804lts/roles/syslog
#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html
#
#  Default logging rules can be found in /etc/rsyslog.d/50-default.conf

$PreserveFQDN {{syslog.client_preserve_fqdn}}
$ActionQueueFileName {{syslog.client_action_queue_file_name}}
$ActionQueueMaxDiskSpace {{syslog.client_action_queue_max_diskspace}}
$ActionQueueSaveOnShutdown {{syslog.client_action_queue_save_on_shutdown}}
$ActionQueueType {{syslog.client_action_queue_type}}
$ActionResumeRetryCount {{syslog.client_action_resume_retry_count}}
*.* @{{syslog_server}}:{{syslog.port}}

#################
#### MODULES ####
#################

module(load="imuxsock") # provides support for local system logging
#module(load="immark")  # provides --MARK-- message capability

# provides UDP syslog reception
#module(load="imudp")
#input(type="imudp" port="514")

# provides TCP syslog reception
#module(load="imtcp")
#input(type="imtcp" port="514")

# provides kernel logging support and enable non-kernel klog messages
module(load="imklog" permitnonkernelfacility="on")

###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
$ActionFileDefaultTemplate {{syslog.client_action_file_default_template}}

# Filter duplicated messages
$RepeatedMsgReduction {{syslog.client_repeated_msg_reduction}}

#
# Set the default permissions for all log files.
#
$FileOwner {{syslog.client_file_owner}}
$FileGroup {{syslog.client_file_group}}
$FileCreateMode {{syslog.client_file_create_mode}}
$DirCreateMode {{syslog.client_dir_create_mode}}
$Umask {{syslog.client_umask}}
$PrivDropToUser {{syslog.client_priv_drop_to_user}}
$PrivDropToGroup {{syslog.client_priv_drop_to_group}}

#
# Where to place spool and state files
#
$WorkDirectory /var/spool/rsyslog

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig /etc/rsyslog.d/*.conf
