; Managed with omnibusansibleplaybooks/phpfpm/roles/php-fpm_high_performance_configuration
[global]
pid = /run/php/php7.2-fpm.pid
error_log = /var/log/php7.2-fpm.log
syslog.facility = {{php.syslog_facility}}
syslog.ident = {{php.syslog_facility}}
log_level = {{php.log_level}}
emergency_restart_threshold = {{php.emergency_restart_threshold}}
emergency_restart_interval = {{php.emergency_restart_interval}}
process_control_timeout = {{php.process_control_timeout}}
process.max = {{php.process_max}}
process.priority = {{php.process_priority}}
daemonize = {{php.daemonize}}
rlimit_core = {{php.service_rlimit_core}}
;events.mechanism = {{php.events_mechanism}}
include=/etc/php/7.2/fpm/pool.d/*.conf
