;;;;;;;;;;;;;;;;;;;;;
; FPM Configuration ;
;;;;;;;;;;;;;;;;;;;;;

; All relative paths in this configuration file are relative to PHP's install
; prefix (/usr). This prefix can be dynamically changed by using the
; '-p' argument from the command line.

;;;;;;;;;;;;;;;;;;
; Global Options ;
;;;;;;;;;;;;;;;;;;

[global]
pid = /run/php/php7.4-fpm.pid
error_log = /var/log/php7.4-fpm.log
syslog.facility = {{php.syslog_facility}}
syslog.ident = {{php.syslog_facility}}
log_level = {{php.log_level}}
log_limit = {{php.log_limit}}
log_buffering = {{php.log_buffering}}
emergency_restart_threshold = {{php.emergency_restart_threshold}}
emergency_restart_interval = {{php.emergency_restart_interval}}
process_control_timeout = {{php.process_control_timeout}}
process.max = {{php.process_max}}
process.priority = {{php.process_priority}}
daemonize = {{php.daemonize}}
rlimit_files = {{php.rlimit_files}}
rlimit_core = {{php.service_rlimit_core}}
events.mechanism = {{php.events_mechanism}}
systemd_interval = {{php.systemd_interval}}
include=/etc/php/7.4/fpm/pool.d/*.conf
