####
# Managed by omnibusansibleplaybooks/zabbix/roles/zabbix_modules_deployed
####
server { 
    listen *:80; 

    location /nginx_status {
        stub_status on;
        allow 127.0.0.1;
        allow ::1; 
        allow {{ zabbix_agent2.server }};
        deny all;
    }

    location /basic_status {
        stub_status on;
        allow 127.0.0.1;
        allow ::1; 
        allow {{ zabbix_agent2.server }};
        deny all;
    }

}