# This file is generated from information provided by
# the datasource.  Changes to it will not persist across an instance.
# To disable cloud-init's network configuration capabilities, write a file
# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg with the following:
# network: {config: disabled}
network:
    ethernets:
{% for interface in ethernets %}
        {{item.key}}:
            dhcp4: {{item.value.dhcp4}}
            addresses: [{{item.value.addresses}}]
            gateway4: {{item.value.gateway4}}
            nameservers:
                addresses: [1.1.1.1,9.9.9.9]
{% endfor %}
    version: 2
