# This is a basic VCL configuration file for varnish.  See the vcl(7)
# man page for details on VCL syntax and semantics.
#
# Marker to tell the VCL compiler that this VCL has been written with the
# 4.0 or 4.1 syntax.
vcl 4.1;

# Default backend definition.  Set this to point to your content
# server.
backend default {
  .host = "{{ varnish_default_backend_host }}";
  .port = "{{ varnish_default_backend_port }}";
}

{% if varnish_backends is defined %}
# Other backend servers.
{% for backend, value in varnish_backends.items() | list %}
backend {{ backend }} {
  .host = "{{ value.host }}";
  .port = "{{ value.port }}";
}
{% endfor %}
{% endif %}

sub vcl_recv {
{% if varnish_vhosts is defined %}
  # Varnish vhosts.
{% for vhost, value in varnish_vhosts.items() | list if varnish_vhosts is defined %}
  {% if loop.first %}
  if (req.http.host == "{{ vhost }}" || req.http.host == "www.{{ vhost }}") {
  {% else %}
  elseif (req.http.host == "{{ vhost }}" || req.http.host == "www.{{ vhost }}") {
  {% endif %}
    set req.backend_hint = {{ value.backend }};
  }
{% endfor %}
{% endif %}

  # Happens before we check if we have this in cache already.
  #
  # Typically you clean up the request here, removing cookies you don't need,
  # rewriting the request, etc.
    
  # Healthcheck 
  if (req.url == "/varnish-status-amigosmuyamigos") {       
      return(synth(200, "OK"));
  }    

  # Command to clear complete cache for all URLs and all sub-domains
  # curl -X NINJAFULLBAN -H "Host:example.com" host
  if (req.method == "NINJAFULLBAN") {
      ban("req.http.host ~ .*");
      return (synth(200, "Full cache cleared"));
  }

  set req.http.x-clientip = client.ip;
  set req.http.x-serverip = server.ip;
  set req.http.x-localip = local.ip;
  set req.http.x-remoteip = remote.ip;
  return(pass);
  
}

# Header to annouce hit or miss 
sub vcl_deliver {
    if (obj.hits > 0) {
            set resp.http.X-Cache = "HIT";
    } else {
            set resp.http.X-Cache = "MISS";
    }
  return (deliver);
}
