#############
# Managed by omnibusansibleplaybooks/maxmind_geoip/roles/geolite_database_deployed
#
# GeoIP.conf file for `geoipupdate` program, for versions >= 3.1.1.
# Used to update GeoIP databases from https://www.maxmind.com.
# For more information about this config file, visit the docs at
# https://dev.maxmind.com/geoip/geoipupdate/.

# `AccountID` is from your MaxMind account.
AccountID {{ geolite2.maxmind_account_id }}

# Replace YOUR_LICENSE_KEY_HERE with an active license key associated 
# with your MaxMind account.
LicenseKey {{ geolite2.maxmind_license_key }}

# `EditionIDs` is from your MaxMind account.
EditionIDs GeoLite2-ASN GeoLite2-City GeoLite2-Country

# The directory to store the database files. Defaults to DATADIR
DatabaseDirectory {{ geolite2.datadir }}