server {
    listen 80;
    server_name {{ netdata.netdata_nginx_servername }};
    
    auth_basic "Protected";
    auth_basic_user_file passwords;

    location / {
        proxy_pass http://127.0.0.1:19999;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}