###########################################################################
# allow $USER to use keys. Only enter once and it will remain enabled till
# you delete it or reboot the server 
###########################################################################
{% for private_keys in keychain %}
{% for private in private_keys.ssh_private_keys %}
/usr/bin/keychain $HOME/.ssh/{{ private }}
{% endfor %}
{% endfor %}
source $HOME/.keychain/$HOSTNAME-sh