# Managed with omnibusansibleplaybooks/apache/roles/apache2_server_deployed
# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

Listen {{ apache2.port_http }}

<IfModule ssl_module>
        Listen {{ apache2.port_https }}
</IfModule>

<IfModule mod_gnutls.c>
        Listen {{ apache2.port_https }}
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
