; Managed with omnibusansibleplaybooks/phpfpm/roles/php-fpm_high_performance_configuration
[{{php.pool_name}}]
user = {{php.user}}
group = {{php.group}}
listen = /run/php/php8.1-fpm.sock
listen.backlog = {{php.listen_backlog}}
listen.owner = {{php.listen_owner}}
listen.group = {{php.listen_group}}
listen.mode = {{php.listen_mode}}
listen.allowed_clients = {{php.listen_allowed_clients}}
pm = {{php.pm}}
pm.max_children = {{php.pm_max_children}}
pm.start_servers = {{php.pm_start_servers}}
pm.min_spare_servers = {{php.pm_min_spare_servers}}
pm.max_spare_servers = {{php.pm_max_spare_servers}}
pm.process_idle_timeout = {{php.pm_process_idle_timeout}}
pm.max_requests = {{php.pm_max_requests}}
pm.status_path = {{php.status_path}}
ping.path = {{php.status_path}}
ping.response = {{php.ping_response}}
slowlog = {{php.slowlog_path}}
request_slowlog_timeout = {{php.request_slowlog_timeout}}
request_slowlog_trace_depth = {{php.request_slowlog_trace_depth}}
request_terminate_timeout = {{php.request_terminate_timeout}}
request_terminate_timeout_track_finished = {{php.request_terminate_timeout_track_finished}}
rlimit_files = {{php.rlimit_files}}
rlimit_core = {{php.rlimit_core}}
clear_env = {{php.clear_env}}
security.limit_extensions = {{php.security_limit_extensions}}