#####
# Managed by omnibusansibleplaybooks/tinc-vpn/roles/tinc_hub
#####
Address = {{ tinc_hub.public_ip_address }}
Subnet = {{ tinc_hub.subnet }}
Compression = {{ tinc_hub.compression }}
Port = {{ tinc_hub.port }}