#####
# Managed by omnibusansibleplaybooks/tinc-vpn/roles/tinc_hub
#####
# ------------ Hub ------------
Name = {{ tinc_hub.hub_hostname }}
Device = {{ tinc_hub.device_path }}
AddressFamily = {{ tinc_hub.address_family }}
LocalDiscovery = {{ tinc_hub.local_discovery }}
LogLevel = {{ tinc_hub.log_level }}
Mode = switch 