## Managed with Ansible omnibusansibleplaybooks/nginx/roles/nginx_server_deployed
user {{ nginx.user }};
worker_processes {{ nginx.worker_processes }};
worker_rlimit_nofile {{ nginx.worker_rlimit_nofile }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;
include /etc/nginx/stream.d/stream-enabled/*.conf;
 
events {
    worker_connections {{ nginx.worker_connections }};
    multi_accept {{ nginx.multi_accept }};
}
 
http {
 
    ##
    # Basic Settings
    ##
 
    sendfile {{ nginx.sendfile }};
    tcp_nopush {{ nginx.tcp_nopush }};
    tcp_nodelay {{ nginx.tcp_nodelay }};
    keepalive_timeout {{ nginx.keepalive_timeout }};
    types_hash_max_size {{ nginx.types_hash_max_size }};
    server_tokens {{ nginx.server_tokens }};
 
    server_names_hash_bucket_size {{ nginx.server_names_hash_bucket_size }};
    server_name_in_redirect {{ nginx.server_name_in_redirect }};
 
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
 
    ##
    # SSL Settings
    ##
 
    ssl_protocols {{ nginx.ssl_protocols }}; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers {{ nginx.ssl_prefer_server_ciphers }};
 
    ##
    # Logging Settings
    # cf: cloudflare headers
    ##

    log_format  cf_custom  '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for" '
                        '"$host" sn="$server_name" '
                        'rt=$request_time '
                        'ua="$upstream_addr" us="$upstream_status" '
                        'ut="$upstream_response_time" ul="$upstream_response_length" '
                        'cs=$upstream_cache_status' '$http_cf_ray';

    log_format cf_custom2 '$remote_addr - $remote_user [$time_local]  '
        '"$request" $status $body_bytes_sent '
        '"$http_referer" "$http_user_agent" "$http_cf_ray"'
        '"$host" sn="$server_name" '
        {% if nginx.log_upstream_performance is sameas true %}
        'ua="$upstream_addr" us="$upstream_status" '
        'ut="$upstream_response_time" ul="$upstream_response_length" '
        'rt=$request_time uct="$upstream_connect_time" uht="$upstream_header_time" urt="$upstream_response_time"'
        'cs=$upstream_cache_status'
        {% endif %}
        '$ssl_protocol $ssl_cipher' ;
  
    log_format cf_custom3 '$remote_addr - $remote_user [$time_local] $request '
        '"$status" $body_bytes_sent "$http_referer" '
        '"$http_user_agent" "$http_x_forwarded_for" "$gzip_ratio"'
        ' "$connection" "$connection_requests" "$request_time" $http_cf_ray'
        '"$host" sn="$server_name" '
        {% if nginx.log_upstream_performance is sameas true %}
        'ua="$upstream_addr" us="$upstream_status" '
        'ut="$upstream_response_time" ul="$upstream_response_length" '
        'rt=$request_time uct="$upstream_connect_time" uht="$upstream_header_time" urt="$upstream_response_time"'
        'cs=$upstream_cache_status'
        {% endif %}
        '$ssl_protocol $ssl_cipher' ;
  
    log_format cf_custom4 '$remote_addr - $remote_user [$time_local] $request '
        '"$status" $body_bytes_sent "$http_referer" '
        '"$http_user_agent" "$http_x_forwarded_for" "$gzip_ratio"'
        ' "$connection" "$connection_requests" "$request_time" $http_cf_ray '
        '"$host" sn="$server_name" '
        {% if nginx.log_upstream_performance is sameas true %}
        'ua="$upstream_addr" us="$upstream_status" '
        'ut="$upstream_response_time" ul="$upstream_response_length" '
        'rt=$request_time uct="$upstream_connect_time" uht="$upstream_header_time" urt="$upstream_response_time"'
        'cs=$upstream_cache_status'
        {% endif %}
        '$ssl_protocol $ssl_cipher' ;

    {% if nginx.conditional_logging_enabled is sameas true %}

        #Excludes requests with HTTP status codes 2xx (Success) and 3xx (Redirection)
        map $status $loggable {
            ~^[{{ nginx.conditional_logging_ignore_codes }}]  0;
            default 1;
        }
        {% if nginx.log_buffer is sameas true %}
        access_log /var/log/nginx/access.log {{ nginx.access_log_format }} buffer={{ nginx.log_buffer_size }} flush={{ nginx.log_buffer_flush_time }} if=$loggable;
        {% else %}
        access_log /var/log/nginx/access.log {{ nginx.access_log_format }} if=$loggable;
        {% endif %}

    {% else %}

        {% if nginx.log_buffer is sameas true %}
        access_log /var/log/nginx/access.log {{ nginx.access_log_format }} buffer={{ nginx.log_buffer_size }} flush={{ nginx.log_buffer_flush_time }};
        {% else %}
        access_log /var/log/nginx/access.log {{ nginx.access_log_format }};
        {% endif %}

    {% endif %}

    error_log /var/log/nginx/error.log {{ nginx.error_log_level }};

    ##
    # Gzip Settings
    ##
 
    gzip {{ nginx.gzip }};
 
    gzip_vary {{ nginx.gzip_vary }};
    gzip_proxied {{ nginx.gzip_proxied }};
    gzip_comp_level {{ nginx.gzip_comp_level }};
    gzip_buffers {{ nginx.gzip_buffers }};
    gzip_http_version {{ nginx.gzip_http_version }};
    gzip_types {{ nginx.gzip_types }};
 
    ##
    # Virtual Host Configs
    ##
 
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}