[filesystem]

#Full path is recommended.
#Do not use $HOME/.aliases or ~/.aliases because
#the script will not expand environment variables.
sourced_aliases_path = {{ aliaxer.alias_definitions_file }}

#Directory storing all aliases files. Full path.
aliases_dir = {{ aliaxer.aliases_dir }}

#File name only b/c is asumed its location inside aliases_dir.
default_aliases_file = {{ aliaxer.default_aliases_file }}


[ignore]

#Source remote aliases:
#- true, no remote aliases are sourced
#- false, remote aliases are sourced
remotes = {{ aliaxer.ignore_remotes }}

#Use comma-separated values of file names
#File name only b/c is asumed its location inside < aliases_dir >.
file = {{ aliaxer.ignore_file }}

#Use comma-separated values
#Include leading . (dot) for hidden files
file_ext = {{ aliaxer.ignore_file_ext }}


[preferences]

#Alias name used to summon the CLI app
aliaxer_alias = {{ aliaxer.preference_aliaxer_alias }}

#Backup the file set at < sourced_aliases_path > before processing
backup_sourced_before_save = {{ aliaxer.preference_backup_sourced_before_save }}

#Must be > 0
number_tries = {{ aliaxer.preference_number_tries }}

#Extension for new aliases Files
file_extension = {{ aliaxer.preference_file_extension }}