; configuration for php opcache module
; priority=10
zend_extension=opcache.so
opcache.enable="{{ opcache.enable }}"
opcache.enable_cli="{{ opcache.enable_cli }}"
opcache.memory_consumption="{{ opcache.memory_consumption }}"
opcache.interned_strings_buffer="{{ opcache.interned_strings_buffer }}"
opcache.max_accelerated_files="{{ opcache.max_accelerated_files }}"
opcache.max_wasted_percentage="{{ opcache.max_wasted_percentage }}"
opcache.use_cwd="{{ opcache.use_cwd }}"
opcache.validate_timestamps="{{ opcache.validate_timestamps }}"
opcache.revalidate_freq="{{ opcache.revalidate_freq }}"
opcache.revalidate_path="{{ opcache.revalidate_path }}"
opcache.save_comments="{{ opcache.save_comments }}"
opcache.enable_file_override="{{ opcache.enable_file_override }}"
opcache.optimization_level="{{ opcache.optimization_level }}"
opcache.dups_fix="{{ opcache.dups_fix }}"
opcache.blacklist_filename="{{ opcache.blacklist_filename }}"
opcache.max_file_size="{{ opcache.max_file_size }}"
opcache.consistency_checks="{{ opcache.consistency_checks }}"
opcache.force_restart_timeout="{{ opcache.force_restart_timeout }}"
opcache.error_log="{{ opcache.error_log }}"
opcache.log_verbosity_level="{{ opcache.log_verbosity_level }}"
opcache.preferred_memory_model="{{ opcache.preferred_memory_model }}"
opcache.protect_memory="{{ opcache.protect_memory }}"
opcache.restrict_api="{{ opcache.restrict_api }}"
opcache.mmap_base="{{ opcache.mmap_base }}"
opcache.file_cache="{{ opcache.file_cache }}"
opcache.file_cache_only="{{ opcache.file_cache_only }}"
opcache.file_cache_consistency_checks="{{ opcache.file_cache_consistency_checks }}"
opcache.file_cache_fallback="{{ opcache.file_cache_fallback }}"
opcache.huge_code_pages="{{ opcache.huge_code_pages }}"
opcache.validate_permission="{{ opcache.validate_permission }}"
opcache.validate_root="{{ opcache.validate_root }}"
opcache.opt_debug_level="{{ opcache.opt_debug_level }}"
