#####
# Managed by omnibusansibleplaybooks/phpfpm/roles/opcache_deployed
#####
server {
    listen {{ opcache.opcachegui_listen_port_v4 }};
    listen {{ opcache.opcachegui_listen_port_v6 }};

    server_name {{ opcache.opcachegui_fqdn }};
    root        {{ opcache.opcachegui_path }}/public;

    index index.html index.htm index.php;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~* \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/run/php/php{{ php.php_version }}-fpm.sock;
        fastcgi_index index.php;
    }
}