<VirtualHost *:{{ opcache.opcachegui_listen_port_v4 }}>
  ServerName  {{ opcache.opcachegui_fqdn }}
  DocumentRoot "{{ opcache.opcachegui_path }}/public"

  <Directory "{{ opcache.opcachegui_path }}/public">
    Options Indexes FollowSymLinks
    AllowOverride All
  </Directory>

    <IfModule proxy_fcgi_module> 
        # Enable http authorization headers 
        <IfModule setenvif_module>
            SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1 
        </IfModule> 
        <FilesMatch ".+\.ph(ar|p|tml)$"> 
            SetHandler "proxy:unix:/run/php/php{{ php.php_version}}-fpm.sock|fcgi://localhost" 
        </FilesMatch> 
        <FilesMatch ".+\.phps$"> 
            # Deny access to raw php sources by default
            # To re-enable it's recommended to enable access to the files 
            # only in specific virtual host or directory 
            Require all denied 
        </FilesMatch> 
            
        # Deny access to files without filename (e.g. '.php') 
        <FilesMatch "^\.ph(ar|p|ps|tml)$"> 
            Require all denied 
        </FilesMatch> 
    </IfModule>

  # This is only needed when using URL paths
  FallbackResource /index.php

</VirtualHost>