<?php
/**
 * Managed by omnibusansibleplaybooks/phpfpm/roles/opcache_deployed
 *
 * @category   OpCacheGUI
 * @author     Pieter Hordijk <info@pieterhordijk.com>
 * @copyright  Copyright (c) 2013 Pieter Hordijk <https://github.com/PeeHaa>
 * @license    http://www.opensource.org/licenses/mit-license.html  MIT License
 * @version    1.0.0
 */

namespace OpCacheGUI;

use OpCacheGUI\Network\Router;

/**
 * Login credentials
 *
 * The password is a password compatible with PHP's password hashing functions (password_hash())
 *
 * Only addresses on the whitelist are allowed to log in
 * The whitelist can contain a list of IP addresses or ranges in one of the following formats:
 *
 * * allows any IP address to log in (effectively disabling the whitelist and allowing access from any IP)
 * localhost or 127.0.0.1 allows only log ins from the machine on which the application runs
 * 10.0.0.5 allows a single address access
 * 10.0.0.* allows any log in from the range starting from 10.0.0.0 to 10.0.0.255. All octets but the first can be a wildcard
 * 10.0.0.1-10.0.0.24 defines a range of IP addresses which are allowed to log in (including the IP addresses defining the range)
 * 10.0.0.10/24 defines a range of IP addresses in the CIDR format
 *
 * Multiple addresses or ranges can be defined
 */
return [
    'username'        => '{{ opcache.opcachegui_username }}',
    'password'        => '{{ opcache.opcachegui_password }}',
    'whitelist'       => [
        {{ opcache.opcachegui_whitelist }}
    ],
    'language'        => '{{ opcache.opcachegui_language }}',
    'timezone'        => '{{ opcache.opcachegui_timezone }}',
    'error_reporting' => {{ opcache.opcachegui_error_reporting }},
    'display_errors'  => '{{ opcache.opcachegui_display_errors }}',
    'log_errors'      => '{{ opcache.opcachegui_log_errors }}',
    'uri_scheme'      => {{ opcache.opcachegui_uri_scheme }}
];
