#####
# Managed by omnibusansibleplaybooks/apache/roles/apache2_virtualhost_deployed
#####
<VirtualHost *:80>

    ServerAdmin {{ item.server_admin }}
    ServerName {{ item.server_name }}
    {% if item.server_aliases %}
    ServerAlias {{ item.server_aliases }}
    {%endif%}

    DocumentRoot {{ item.document_root }}
    Alias /.well-known {{ item.well_known_path }}

    CustomLog ${APACHE_LOG_DIR}/{{ item.server_name }}-access.log proxied
    ErrorLog ${APACHE_LOG_DIR}/{{ item.server_name }}-error.log
      
    <Directory {{ item.document_root }}>
        # Options Indexes FollowSymLinks MultiViews
        AllowOverride all
        Order allow,deny
        allow from all
        Require all granted
        Options -Indexes
                 
        <IfModule mod_mime.c>
        AddType application/x-javascript .js
        AddType text/css .css
        </IfModule>
           
        <IfModule mod_deflate.c>
            AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/plain text/xml application/javascript
            <IfModule mod_setenvif.c>
                BrowserMatch ^Mozilla/4 gzip-only-text/html
                BrowserMatch ^Mozilla/4.0[678] no-gzip
                BrowserMatch bMSIE !no-gzip !gzip-only-text/html
            </IfModule>
        </IfModule>
        Header append Vary User-Agent env=!dont-vary
    </Directory>

    {% if item.phpfpm is sameas true  %}
    <IfModule proxy_fcgi_module> 
        # Enable http authorization headers 
        <IfModule setenvif_module>
            SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1 
        </IfModule> 
        <FilesMatch ".+\.ph(ar|p|tml)$"> 
            SetHandler "{{ item.php_handler }}" 
        </FilesMatch> 
        <FilesMatch ".+\.phps$"> 
            # Deny access to raw php sources by default
            # To re-enable it's recommended to enable access to the files 
            # only in specific virtual host or directory 
            Require all denied 
        </FilesMatch> 
             
        # Deny access to files without filename (e.g. '.php') 
        <FilesMatch "^\.ph(ar|p|ps|tml)$"> 
            Require all denied 
        </FilesMatch> 
    </IfModule>
    {% endif %}

    {% if item.headers %}
    {% for header in item.headers %}
    {{ header }}
    {% endfor %}
    {% endif %}
         
    {% if item.mod_security is sameas true %}
    <IfModule security2_module>
        SecRuleEngine On        
    {% for rule in item.mod_security_rules %}
    {{ rule }}
    {% endfor %}
    </IfModule>
    {% endif %}

    {% if item.mod_pagespeed is sameas true %}
    ModPagespeed {{ item.mod_pagespeed_status }}
    {% for rule in item.mod_pagespeed_rules %}
    {{ rule }}
    {% endfor %}
    {% endif %}
  
    {% if item.ssl_redirect is defined and item.ssl_redirect is sameas true %}
    RewriteEngine on
    RewriteCond %{SERVER_NAME} ={{ item.server_name }}
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
    {% endif %}

</VirtualHost>