#####
# Managed by omnibusansibleplaybooks/nginx/roles/nginx_virtualhost_served
#####
server {

    {% for listen in item.listen %}
    listen {{ listen }};
    {% endfor %}
 
    root {{ item.document_root }};
 
    server_name {{ item.server_name }};
    include /etc/nginx/snippets/well-known.conf;

    {% for listen in item.listen %}
    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
     }
    {% endfor %}

    
    # pass PHP scripts to FastCGI server
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
     
        # With php-fpm (or other unix sockets):
        fastcgi_pass unix:/var/run/php/php{{ php.php_version }}-fpm.sock;
        # With php-cgi (or other tcp sockets):
        #fastcgi_pass 127.0.0.1:9000;
     }
 
}
