#####
# Managed by omnibusansibleplaybooks/nginx/roles/vhost_served
#####
# @see https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/
# @see https://nginx.org/en/docs/http/load_balancing.html

server {

    listen {{ item.value.listen }};
    server_name {{ item.value.server_name }};
    {% if item.value.log_buffering is sameas true %}

    access_log /var/log/nginx/{{ item.key }}.access.log cf_custom buffer={{ item.value.log_buffering_buffer }} flush={{ item.value.log_buffering_flush }};
    {% else %}

    access_log /var/log/nginx/{{ item.key }}.access.log;
    {% endif %}

    error_log /var/log/nginx/example-com.error.log;

    {% if item.value.badbotblocker_enabled is sameas true %}

    # Bad Bot Blocker
    include /etc/nginx/bots.d/ddos.conf;
    include /etc/nginx/bots.d/blockbots.conf;
    {% endif %}

    ####
    #### Location Blocks Start
    ####
    {% for location in item.value.location_blocks %}
    location {{ location.path }}{

        proxy_set_header Host $host;
        proxy_cache_bypass                    $http_upgrade;
        proxy_set_header Host                 $host;
        proxy_set_header X-Forwarded-Port     $server_port;
        proxy_set_header X-Real-IP            $remote_addr;
        proxy_set_header X-Forwarded-For      $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto    $scheme;
        proxy_set_header Upgrade              $http_upgrade;
        proxy_set_header Connection           "upgrade";
    {% if location.headers_custom_enabled is sameas true %}
    {% for header in location.headers_custom_list %}

        proxy_set_header {{ header }};
    {% endfor %}
    {% endif %}

    {% if location.auth_basic is sameas true %}
    
        auth_basic "{{ location.auth_basic_banner }}";
        auth_basic_user_file {{ location.auth_basic_user_file }};
    {% endif %}

    {% if location.proxy_buffering is sameas true %}

        proxy_buffers {{ location.proxy_buffers }};
        proxy_buffer_size {{ location.proxy_buffer_size }};
    {% else %}

        proxy_buffering off;
    {% endif %}

        proxy_pass {{ location.proxy_pass}};
        proxy_http_version {{ location.proxy_http_version }};
        proxy_cache_bypass $http_upgrade;
        proxy_bind {{ location.proxy_bind }};

    {% if location.cors_enabled is sameas true %}

        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '{{ location.cors_origins }}';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain; charset=utf-8';
            add_header 'Content-Length' 0;
            return 204;
        }
            
        if ($request_method = 'POST') {
            add_header 'Access-Control-Allow-Origin' '{{ location.cors_origins }}';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
        }
            
        if ($request_method = 'GET') {
            add_header 'Access-Control-Allow-Origin' '{{ location.cors_origins }}';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
        }
    {% endif %}

    }
    
    {% endfor %}

    ####
    #### Location Blocks End
    ####

}