# Managed with omnibusansibleplaybooks/ubuntuserver1804lts/roles/syslog
#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html
#
#  Default logging rules can be found in /etc/rsyslog.d/50-default.conf

# As per instructed on https://www.loggly.com/docs/rsyslog-manual-configuration/
$MaxMessageSize 64k

#################
#### MODULES ####
#################

module(load="imuxsock") # provides support for local system logging
#module(load="immark")  # provides --MARK-- message capability

# provides UDP syslog reception
module(load="imudp")
input(type="imudp" port="{{syslog.port}}")

# provides TCP syslog reception
module(load="imtcp")
input(type="imtcp" port="{{syslog.port}}")

# provides kernel logging support and enable non-kernel klog messages
module(load="imklog" permitnonkernelfacility="on")

$template RemoteLogs,"{{syslog.server_remote_logs_template}}"
*.* ?RemoteLogs 
#& ~

###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
$ActionFileDefaultTemplate {{syslog.server_action_file_default_template}}

# Filter duplicated messages
$RepeatedMsgReduction {{syslog.server_repeated_msg_reduction}}

#
# Set the default permissions for all log files.
#
$FileOwner {{syslog.server_file_owner}}
$FileGroup {{syslog.server_file_group}}
$FileCreateMode {{syslog.server_file_create_mode}}
$DirCreateMode {{syslog.server_dir_create_mode}}
$Umask {{syslog.server_umask}}
$PrivDropToUser {{syslog.server_priv_drop_to_user}}
$PrivDropToGroup {{syslog.server_priv_drop_to_group}}

#
# Where to place spool and state files
#
$WorkDirectory /var/spool/rsyslog

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig /etc/rsyslog.d/*.conf
