#####
# Managed by omnibusansibleplaybooks/tinc-vpn/roles/tinc_node
# vpn_ip_address = {{ tinc_node.vpn_ip_address }}
# hub_hostname = {{ tinc_node.hub_hostname }}
# network_name = {{ tinc_node.network_name }}
#####
{% if tinc_node.public_ip_address is defined %}
Address = {{ tinc_node.public_ip_address }}
{% endif %}
Subnet = {{ tinc_node.subnet }}
{% for hub in tinc_node.hubs %}
ConnectTo = {{ hub }}
{% endfor %}
Compression = {{ tinc_node.compression }}
Port = {{ tinc_node.port }}