#####
# Managed by omnibusansibleplaybooks/tinc-vpn/roles/tinc_node
#####
# ------------ Node ------------
Name = {{ tinc_node.node_hostname }}
Device = {{ tinc_node.device_path }}
AddressFamily = {{ tinc_node.address_family }}
LocalDiscovery = {{ tinc_node.local_discovery }}
LogLevel = {{ tinc_node.log_level }}
Mode = switch