settings {
    logfile = "/var/log/lsyncd/lsyncd.log",
    statusFile = "/var/log/lsyncd/lsyncd.status"
}

sync {
    default.rsync,
    source = "{{ directory_synchronisation.source }}",
    target = "{{ directory_synchronisation.target }}",
    rsync     = {
        compress = true
    }
}