settings {
    logfile = "/var/log/lsyncd/lsyncd.log",
    statusFile = "/var/log/lsyncd/lsyncd.status"
}

sync {
    default.rsyncssh,
    source = "{{ directory_synchronisation.source }}",
    host = "{{ directory_synchronisation.host }}",
    target = "{{ directory_synchronisation.target }}",
    rsync     = {
        compress = true,
        chown = "{{ directory_synchronisation.target_chown }}"
    },
    ssh = {
        user = {{ directory_synchronisation.ssh_user }}
        port = {{ directory_synchronisation.ssh_port }}
    }
}