# Cloudflare API credentials used by Certbot
# Managed by Ansible omnibusansibleplaybooks/cloudflare/roles/api_credentials_deployed/tasks/main.yml
dns_cloudflare_email = "{{cloudflare.cf_email}}"
dns_cloudflare_api_key = "{{cloudflare.cf_api_key}}"