#####
# Managed by omnibusansibleplaybooks/zabbix/roles/zabbix_server_deployed
#####
php_value[max_execution_time] = 300
php_value[memory_limit] = 128M
php_value[post_max_size] = 16M
php_value[upload_max_filesize] = 2M
php_value[max_input_time] = 300
php_value[max_input_vars] = 10000
php_value[date.timezone] = {{host_timezone}}