#####
# Managed by omnibusansibleplaybooks/zabbix/roles/zabbix_server_deployed
#####
<VirtualHost *:{{ zabbix_server.dashboard_port}}>
  
    ServerAdmin {{ zabbix_server.dashboard_virtualhost_server_admin}}
    ServerName {{ zabbix_server.dashboard_virtualhost_server_name}}
    ServerAlias {{ zabbix_server.dashboard_virtualhost_server_alias}}
      
    DocumentRoot /usr/share/zabbix
      
    CustomLog ${APACHE_LOG_DIR}/{{ zabbix_server.dashboard_virtualhost_server_name}}-access.log proxied
    ErrorLog ${APACHE_LOG_DIR}/{{ zabbix_server.dashboard_virtualhost_server_name}}-error.log
      
    <Directory /usr/share/zabbix>
        Options FollowSymLinks
        AllowOverride None
        Order allow,deny
        allow from all
        Require all granted
        Options -Indexes
    </Directory>

    <Directory "/usr/share/zabbix/conf">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>

    <Directory "/usr/share/zabbix/app">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>

    <Directory "/usr/share/zabbix/include">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>

    <Directory "/usr/share/zabbix/local">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>

    <IfModule proxy_fcgi_module> 
        # Enable http authorization headers 
        <IfModule setenvif_module>
            SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1 
        </IfModule> 
        <FilesMatch ".+\.ph(ar|p|tml)$"> 
            SetHandler "proxy:unix:/run/php/php7.3-fpm.sock|fcgi://localhost" 
        </FilesMatch> 
        <FilesMatch ".+\.phps$"> 
            # Deny access to raw php sources by default
            # To re-enable it's recommended to enable access to the files 
            # only in specific virtual host or directory 
            Require all denied 
        </FilesMatch> 
             
        # Deny access to files without filename (e.g. '.php') 
        <FilesMatch "^\.ph(ar|p|ps|tml)$"> 
            Require all denied 
        </FilesMatch> 
    </IfModule>
  
    Header set Access-Control-Allow-Origin "*"
         
    #<IfModule security2_module>
    #    SecRuleEngine On        
    #    SecRule ARGS:testparam "@contains test" "id:1234,deny,status:403,msg:'Our test rule has triggered'"
    #</IfModule>
 
    #ModPagespeedFetchHttps disable
    #ModPagespeedDisallow "*/administrator/*"
  
</VirtualHost>