<?php
// Managed by omnibusansibleplaybooks/zabbix/roles/zabbix_server_deployed
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = '{{zabbix_server.database_server_platform}}';
$DB['SERVER']   = '{{zabbix_server.database_host}}';
$DB['PORT']     = '{{zabbix_server.database_port}}';
$DB['DATABASE'] = '{{zabbix_server.database_name}}';
$DB['USER']     = '{{zabbix_server.database_user}}';
$DB['PASSWORD'] = '{{zabbix_server.database_password}}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{zabbix_server.server}}';
$ZBX_SERVER_PORT = '{{zabbix_server.port}}';
$ZBX_SERVER_NAME = '{{zabbix_server.server_name}}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
