#
# Config file for sSMTP sendmail
#
# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
root=root@{{ fqdn }}
 
# The place where the mail goes. The actual machine name is required no 
# MX records are consulted. Commonly mailhosts are named mail.domain.com
mailhub=smtp.sendgrid.net:2525
AuthUser=apikey
AuthPass="{{ init.sendgrid_api_key }}"
UseTLS=YES
UseSTARTTLS=YES
 
# Where will the mail seem to come from?
rewriteDomain={{ fqdn }}
 
# The full hostname
hostname={{ fqdn }}
 
# Are users allowed to set their own From: address?
# YES - Allow the user to specify their own From: address
# NO - Use the system generated From: address
FromLineOverride=YES